# Node modules
node_modules/

# Python virtual environment
venv/

# Environment variables
.env

# Next.js build output
frontend/.next/

# Python cache files
__pycache__/
*.pyc

# Docker volumes
pgdata/